@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --main-color: #673ab7;
    --main-color-light: #e1d8f1;
    --sidebar-color: #fcfbff;
    --gray-color: #808080;
    --gray-color-light: #dee2e6;
    --background-color: #ffffff;
    --body-color: #444444;
    --danger-color: #dd0303;
    --danger-color-light: #dd03032a;
    --success-color: #01a101;
    --success-color-light: #01a1012b;
    --transition: 0.3s;
    --radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    color: var(--body-color);
    background-color: var(--background-color);
}

ul,
li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

/* Common Styles */
.mt-7 {
    margin-top: 70px;
}

.Access {
    padding: 5px 20px;
    border-radius: 30px;
}

.All.Access {
    color: var(--success-color);
    background-color: var(--success-color-light);
}

.Restricted.Access {
    color: var(--danger-color);
    background-color: var(--danger-color-light);
}

.disable {
    color: var(--gray-color) !important;
    background-color: var(--gray-color-light) !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-color-light);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: var(--background-color);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.link {
    color: var(--body-color);
}

.role-btn button {
    border: none;
    padding: 5px 14px;
    margin-right: 5px;
    border-radius: var(--radius);
    transition: all var(--transition);
    color: var(--gray-color);
    background-color: transparent;
}

.role-btn button:first-child {
    color: var(--background-color);
    background-color: var(--main-color);
}

.role-btn button:hover {
    color: var(--background-color);
    background-color: var(--main-color);
}

.role-btn button span {
    margin-left: 8px;
}

.light-gray-color {
    color: var(--gray-color-light);
}

/* Navbar Component */
.nav-bar {
    background-color: var(--background-color);
}

.nav-bar .nav-link {
    margin: 0 2px;
    font-size: 18px;
    font-weight: 500;
}

.nav-bar .nav-link span {
    margin-left: 8px;
}

/* Sidebar Component*/
.sidebar {
    background-color: var(--sidebar-color);
    height: 100vh;
    position: fixed;
    left: 0;
    width: 290px;
}

.sidebar-link {
    color: var(--gray-color);
    font-size: 18px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 5px;
    transition: all var(--transition);
}

.sidebar-link:hover {
    color: var(--main-color);
    background-color: var(--main-color-light);
}

.sidebar-link span {
    margin-left: 15px;
}

.sidebar-active {
    color: var(--main-color);
    background-color: var(--main-color-light);
}

/* Tab Component */
.tabs-item .nav-link {
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    border: none;
    border-right: 1px solid var(--gray-color-light) !important;
    border-radius: 0;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--body-color);
    font-weight: 500;
}

.tabs-item .nav-link.active {
    color: var(--main-color);
    position: relative;
}

.tabs-item .nav-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    left: 0;
    bottom: -11px;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.tabs-item .nav-link:first-child::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f09e';
    margin-right: 8px;
}

.tabs-item .nav-link:last-child::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f00a';
    margin-right: 8px;
}

.role-detail .tabs-item .nav-link::before {
    content: '';
}

/* Role Detail Component */
.add-role input[type='text'].form-check-input {
    border: none;
    outline: none;
    margin-top: 0;
    margin-left: -1px;
}

.role-detail a {
    color: var(--main-color);
    margin-right: 10px;
    display: inline-block;
}

.role-detail .tabs-item .nav-link.active::after {
    height: 3px;
}

/* role-table-details */
.role-table-details .table {
    margin-bottom: 0;
}

.role-table-details .info {
    border: 1px solid var(--gray-color-light);
    padding: 5px 10px;
    margin-top: -1px;
}

.role-content-details .costomize-btn {
    border: none;
    background-color: transparent;
    border-right: 1px solid var(--gray-color-light);
    padding: 0 5px;
    margin: 0;
}

.role-content-details .costomize-btn:last-child {
    border-right: none;
}

.role-content-details .form-check {
    display: flex;
    align-items: center;
}

/* AddRole Content Details */
.access-control {
    border-right: 1px solid var(--gray-color-light);
}
